[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
beautifulsoup4 = "*"
twitter-text-parser = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
build = "python3 ./src/tweet.py"
main = "python3 ./src/main.py"
